.header {
  display: flex;
  flex-direction: column;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 2.25rem;
  background-color: var(--brand);
}

.logo {
  font-size: 2.25rem;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
}

.subHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 0 2.25rem;
  background-color: var(--brand-light);
}
