.container {
  padding-bottom: 50px;
}

.content {
  display: flex;
  padding: 0 2.25rem;
  margin-top: -30px;
  gap: 20px;
}

.main {
  width: 100%;
  max-width: 905px;
}

.sidebar {
  width: 100%;
  max-width: 330px;
}
